html, body, main {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.info-container {
    display: grid;
    container: info-container / inline-size;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    place-items: center;
    place-content: center;
    margin-inline: 20vw;
    margin-block: 2rem;
}

.info-portrait {
    width: 45cqmin;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}

.info-col {
    position: relative;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 1032px) {
    .info-container {
        margin-inline: 5rem;
    }
}

@media (max-width: 800px) {
    .info-container {
        margin-inline: 3rem;
        font-size: 2vw;
    }

    .info-container .title {
        font-size: 3vw;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .info-container {
        grid-template-columns: 1fr;
        margin-inline: 3rem;
        gap: 1rem;
        font-size: 3vw;
    }

    .info-container .title {
        font-size: 4vw;
    }

    .info-portrait {
        width: 60cqmin;
    }

    .info-col {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 380px) {
    .info-container {
        margin-inline: 1rem;
    }
    .info-portrait {
        width: 80cqmin;
    }
 
}
